@(reportForm: Form[models.rankings.Report], percentOfForeignAuthors: Double, percentOfForeignReviewers: Double, numberOfPublishedArticles: Int, listOfUnknownAuthors: Iterable[models.rankings.Author], listOfUnknownReviewers: Iterable[models.rankings.Author])(implicit request: Request[AnyContent])

    @main("Journal rankings") {

        <!-- <div class="col-md-4"> -->
        @views.html.rankings.form(reportForm)
        <!-- </div>
    <div class="col-md-8"> -->
        <h1>General statistics</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Foreign authors</td>
                    <td>@percentOfForeignAuthors %</td>
                </tr>
                <tr>
                    <td>Foreign reviewers</td>
                    <td>@percentOfForeignReviewers %</td>
                </tr>
                <tr>
                    <td>Published articles</td>
                    <td>@numberOfPublishedArticles</td>
                </tr>
                <tr>
                    <td>Unknown authors</td>
                    <td>@listOfUnknownAuthors.size</td>
                </tr>
            </tbody>
        </table>

        <div>
            <h1>Authors with unknown country</h1>

            <table id="data-table" class="table">
                <thead>
                    <tr>
                        <th>Paper title</th>
                        <th>Primary contact</th>
                        <th>Email address</th>
                        <th>Submission date</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>

                @for(author <- listOfUnknownAuthors) {
                    <tr>
                        <td>@author.papertitle</td>
                        <td>@author.lastname, @author.username</td>
                        <td>@author.email</td>
                        <td>@author.date_filled</td>
                        <td>@author.place</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div>
            <h1>Reviewers with unknown country</h1>

            <table id="data-table" class="table">
                <thead>
                    <tr>
                        <th>Paper title</th>
                        <th>Primary contact</th>
                        <th>E-mail address</th>
                        <th>Submission date</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>

                @for(author <- listOfUnknownReviewers) {
                    <tr>
                        <td>@author.papertitle</td>
                        <td>@author.lastname, @author.username</td>
                        <td>@author.email</td>
                        <td>@author.date_filled</td>
                        <td>@author.place</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <!-- </div> -->
        <div class="clearfix"/>
    }