@(id: Int, year: Int, volumeId: Int, authors: Iterable[slick.internal.Tables.CopyrighttransferRow], journals: List[models.reports.Journal])(implicit request: Request[AnyContent])

@main("All authors") {
    <h1>Journal manager</h1>

    <style type="text/css">
        #table-filter {
            padding: 10px 0px;
        }

        .gap-sides {
            margin: 0px 10px;
        }

        #data-table td:first-child, #data-table th:first-child {
            text-align: center;
        }

        .green {
            color: #1be533;
        }

        .red {
            color: #e51b24;
        }
    </style>

    <div>
        <form id="table-filter" class="form-inline">
            <div class="form-group">
                <span>Journal</span>
                <select id="journal-select" class="form-control gap-sides">

                    @for(i <- 0 until journals.size) {
                        <option value="@journals(i).id" @if(i+1 == id) { selected="selected" } >
                            @journals(i).title
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <span>Year</span>
                <select id="year-select" class="form-control gap-sides">
                    <!-- FIXME: needs dao -->
                    <option @if(year == 2014) { selected="selected" }>2014</option>
                    <option @if(year == 2013) { selected="selected" }>2013</option>
                    <option @if(year == 2012) { selected="selected" }>2012</option>
                </select>
            </div>
            <div class="form-group">
                <span>Volume</span>
                <select id="issue-select" class="form-control gap-sides">
                    <!-- FIXME: needs dao -->
                    <option @if(volumeId == 3) { selected="selected" } value="3">Vol 13, No 1</option>
                    <option @if(volumeId == 2) { selected="selected" } value="2">Vol 13, No 2</option>
                    <option @if(volumeId == 1) { selected="selected" } value="1">Vol 13, No 3</option>
                    <option @if(volumeId == 0) { selected="selected" } value="0">Vol 13, No 4</option>
                </select>
            </div>
            <div class="form-group">
                <div class="input-filter-container"><input type="search" class="form-control" placeholder="Find..." size="15" id="input-filter"></div>
            </div>
        </form>
    </div>

    @helper.form(action = routes.Authors.generateReport(), 'id -> "authors-form") {
        <div>
            <table id="data-table" class="table table-striped">
                <thead>
                    <tr>
                        <th><input id="select-all-authors" type="checkbox"></th>
                        <th>Paper title</th>
                        <th>Confirmed</th>
                        <th>Corresp. author</th>
                        <th>Affiliation</th>
                        <th>E-mail address</th>
                        <th>Date filled</th>
                        <th>IP address</th>
                    </tr>
                </thead>
                <tbody>
                    @for((author, index) <- authors.zipWithIndex) {
                        <tr>
                            <td><input class="selected-author" type="checkbox" name="author[@index]" value="@author.id"></td>
                            <td>@author.title</td>

                            @if(author.linkconfirmed) {
                                <td><i class="glyphicon glyphicon-ok green"></i></td>
                            } else {
                                <td><i class="glyphicon glyphicon-ok red"></i></td>
                            }

                            <td>@author.correspondingname</td>
                            <td>@author.correspondingaffiliation</td>
                            <td>@author.correspondingemail</td>
                            <td>@author.dateformfilled</td>
                            <td>@author.filleripaddress</td>
                        </tr>
                    }
                </tbody>
            </table>

            <script src="@routes.Assets.at("javascripts/jquery.table-filter.js")" type="text/javascript"></script>
            <script type="text/javascript">

            $("#data-table").addTableFilter({ inputid: 'input-filter' });

            </script>
        </div>

        <div id="bottomrow" style="padding: 10px 0px; position: relative">
            <button type="submit" id="generate-report" class="btn btn-default" style="position: absolute; right: 10px; top: 20px" disabled>
                Generate report
            </button>
        </div>
    }

}