@()(implicit request: Request[AnyContent])

@main("Journal Manager") {

    <div class="container-fluid">

        <h3>The features of the system are listed below.</h3>

        <b>To see any of them (apart from the copyright transfer, which is publicly available),
            please <a href="@routes.Authentication.login()">log in</a></b>.<br>

        <ul>
            <li><a href="@routes.CopyrightTransfer.index()">Copyright transfer</a><br>
                Please fill in the form.
                A message with an attached PDF and confirmation link will be sent to the specified email.
                Follow the link to confirm the transfer.<br>
            </li>

            <li><a href="@routes.Authors.list("default", "default", "default")">Manage transfers</a><br>
                Select a couple of journals and press Generate report for the selected.<br>
            </li>

            <li><a href="@routes.Rankings.index()">Ranking data extractor</a><br>
                Choose e. g. test2 and year 2014, then press Generate.<br>
            </li>

            <li><a href="@routes.Lists.index()">List of authors</a><br></li>

            <li><a href="@routes.Lists.reviewers()">List of reviewers</a><br></li>
        </ul>

    </div>
}
