@()(implicit request: Request[AnyContent])

@main("IO Article Manager") {

    <div class="container-fluid">

        <h3>The following features are implemented up to now:</h3>
        <ul>
            <li>Copyright transfer <br>
                Please click the "Consent to publish" button above and fill in the form. A message with an attached PDF and confirmation link will be sent to the specified email. Follow the link to confirm.
            </li>

            <li>Copyright transfer admin panel <br>
                Please click "Manage consents" button above.
            </li>

            <li>Ranking data extractor <br>
                Please click "Journal rankings" button above, type 2013 in the Year field and press Generate.<br>
                There is still no underlying database (to be implemented in the 3rd sprint soon), all these features work on mock data.
            </li>
        </ul>

    </div>
}
