@(transferForm: Form[models.copyright.CopyrightWrapper], journalId: Long)(implicit request: Request[AnyContent])

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render(_: FieldElements, request))
}

@main("Consent to publish") {

    <style type="text/css">
        #author-template {
            display: none;
        }
        .percent-error-display {
            display: none;
            color: red;
        }
        #consentForm-form-send {
            float : left;
        }

    </style>

    @* this is hidden *@
    <div id="author-template">
        <h4>Author <span class="author-nr">@transferForm.apply("contribution").indexes.length</span>:</h4>
        @inputText(
            transferForm("firstName"),
            '_label -> "First name",
            'size -> 30,
            'class -> "form-control",
            'required -> "required"
        )

        @inputText(
            transferForm("middleName"),
            '_label -> "Middle name",
            'size -> 30,
            'class -> "form-control"
        )

        @inputText(
            transferForm("lastName"),
            '_label -> "Last name",
            'size -> 30,
            'class -> "form-control",
            'required -> "required"
        )

        @inputText(
            transferForm("affiliation"),
            '_label -> "Affiliation",
            'size -> 30,
            'class -> "form-control",
            'required -> "required"
        )

        @textarea(
            transferForm("contribution"),
            '_label -> "Contribution",
            'size -> 30,
            'class -> "form-control",
            'required -> "required"
        )

        @inputText(
            transferForm("percent"),
            '_label -> "Percent",
            'size -> 30,
            'class -> "form-control percent",
            'required -> "required",
            'title -> "Percent of contribution for all authors have to sum up to 100."
        )
    </div>

    <div>
        <img src="@utils.JournalUtilProvider.getLogoAssetsPath(journalId)">
    </div>

    <h3>Consent to Publish</h3>
    <ol>
        @utils.JournalUtilProvider.getConsentToPublishText(journalId).map { line => <li>@line</li> }
    </ol>

    @helper.form(action = routes.CopyrightTransfer.submit(), 'class -> "form-horizontal", 'id -> "consentForm-form") {
        <fieldset>
            <legend>General information</legend>
            <h4>Paper</h4>
            @inputText(
                transferForm("ojsId"),
                '_label -> "ID",
                'size -> 8,
                'class -> "form-control",
                'readonly -> "readonly",
                'required -> "required"
            )

            @inputText(
                transferForm("title"),
                'size -> 80,
                'class -> "form-control",
                '_label -> "Title",
                'required -> "required"
            )

            <h4>Corresponding author</h4><br>
            @inputText(
                transferForm("correspondingAuthor.firstName"),
                '_label -> "First name",
                'size -> 30,
                'class -> "form-control",
                'required -> "required"
            )

            @inputText(
                transferForm("correspondingAuthor.middleName"),
                '_label -> "Middle name",
                'size -> 30,
                'class -> "form-control"
            )

            @inputText(
                transferForm("correspondingAuthor.lastName"),
                '_label -> "Last name",
                'size -> 30,
                'class -> "form-control",
                'required -> "required"
            )

            @inputText(
                transferForm("correspondingAuthor.affiliation"),
                '_label -> "Affiliation",
                'size -> 30,
                'class -> "form-control",
                'required -> "required"
            )

            @inputText(
                transferForm("correspondingAuthor.email"),
                '_label -> "E-mail",
                'size -> 30,
                'class -> "form-control",
                // 'readonly -> "readonly", // FIXME it's unlocked just for the sake of testing
                // it must not be a field of any form if we wish to keep it secure!
                'required -> "required"
            )
        </fieldset>

        <fieldset>
            <legend id="contribution-legend">Contribution to paper</legend>
            <p class="percent-error-display">Percents of contribution must sum up to 100%.</p>
            @*create default authors forms based on information from database*@
            @for((item, index) <- transferForm.apply("contribution").indexes.zipWithIndex) {

                <h4>Author <span class="author-nr">@(index+1)</span>:</h4>

                @inputText(
                    transferForm("contribution[" + index + "].firstName"),
                    '_label -> "First name",
                    'size -> 30,
                    'class -> "form-control",
                    'required -> "required"
                )

                @inputText(
                    transferForm("contribution[" + index + "].middleName"),
                    '_label -> "Middle name",
                    'size -> 30,
                    'class -> "form-control"
                )

                @inputText(
                    transferForm("contribution[" + index + "].lastName"),
                    '_label -> "Last name",
                    'size -> 30,
                    'class -> "form-control",
                    'required -> "required"
                )

                @inputText(
                    transferForm("contribution[" + index + "].affiliation"),
                    '_label -> "Affiliation",
                    'size -> 30,
                    'class -> "form-control",
                    'required -> "required"
                )

                @textarea(
                    transferForm("contribution[" + index + "].contribution"),
                    '_label -> "Contribution",
                    'size -> 30,
                    'class -> "form-control",
                    'required -> "required"
                )

                @inputText(
                    transferForm("contribution[" + index + "].percent"),
                    '_label -> "Percent",
                    'size -> 30,
                    'class -> "form-control percent",
                    'required -> "required",
                    'title -> "Percent of contribution for all authors have to sum up to 100."
                )
            }

            <div id="buttons">
                @* it's impossible to add tooltip to disabled button, widely used solution *@
                @* is wrapping button with span/div and adding tooltip to span/div instead *@
                <span id="span-remove-author">
                    <button type="button" class="btn btn-default" id="remove-author">
                        Remove last author
                    </button>
                </span>

                <button type="button" class="btn btn-default" id="add-new-author">
                    Add new author
                </button>

            </div>

            <script type="text/javascript">

                function removeAuthorAction() {
                    $('#author-'+author_nr).remove();
                    author_nr--;
                    var x = $('#author-template' ).find ('.author-nr' ).html( )
                    if (author_nr == parseInt(x)) {
                        $('#remove-author').prop('disabled', true);
                        $('#span-remove-author').removeAttr('title')
                    }
                }

                var author_nr = new Number ($('#author-template' ).find ('.author-nr' ).html( ));

                $(function() {

                    $('#remove-author').click(removeAuthorAction);
                    $('#remove-author' ).prop('disabled', true);
                    $('#span-remove-author' ).attr('title', "You can't remove authors already related to this paper.")

                    $('#add-new-author').click(function() {
                        // clone the template and remove id
                        var $newAuthor = $('#author-template').clone().removeAttr('id' );
                        // loop over every element and add name attribute
                        $newAuthor.find('input, textarea' ).each(function() {
                            $(this).attr('name', 'contribution['+author_nr+'].'+$(this).attr('name'));
                        });
                        // unhide it
                        $newAuthor.attr('display', 'block');
                        $newAuthor.attr('id', 'author-'+(author_nr + 1));
                        $newAuthor.find('.author-nr').html(author_nr + 1);

                        // insert where it should be
                        $newAuthor.insertBefore('#buttons');

                        // remove-author button should be available to use now
                        $('#remove-author' ).prop('disabled', false)
                        $('#span-remove-author' ).removeAttr('title')
                        author_nr++;
                    });

                    function highlightErrors() {
                        $('#consentForm-form input:required, #consentForm-form textarea:required').each(function() {
                            if($(this).val() == '') {
                                $(this).parent().addClass('has-error');
                            } else {
                                $(this).parent().removeClass('has-error');
                            }
                        });
                    }

                    $('.percent' ).change(function() {
                        if ($(this ).val() < 0 || $(this ).val() > 100 ) {
                            if(!this.error){
                                this.error = $('<div>bla</div>');
                                $(this ).after(this.error);
                                $(this ).parent( ).parent( ).addClass("has-error")
                            }
                        } else{
                            this.error.remove();
                            this.error = null;
                            $(this ).parent( ).parent( ).removeClass("has-error")

                        }
                    });

                    $('#consentForm-form' ).click(function() {
                        highlightErrors();
                        $('#consentForm-form input, #consentForm-form textarea').blur(highlightErrors);
                    })

                    $('#consentForm-form').submit(function() {

                        var list = $(this ).find(".percent")
                        var sum = 0;
                        for(var i=0; i< list.length; i++){
                            var value = parseInt(list.eq(i ).val()) ;
                            sum+= value
                            if (value < 0 || value > 100)
                                return false
                        }

                        if (sum != 100) {
                            // display information about invalid values
                            $('.percent-error-display' ).css('display', 'block')
                            list.parent( ).parent( ).addClass("has-error")
                            $('html, body').scrollTop( $("#contribution-legend").offset().top )
                        } else {
                            $('.percent-error-display' ).css('display', 'none')
                            list.parent( ).parent( ).removeClass("has-error")
                        }

                        return sum == 100
                    });

                });
            </script>
            <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
            <script>
            $ ( "#consentForm-form :input" ).tooltip ( {
                // place tooltip on the right edge
                position : "center right",
                // a little tweaking of the position
                offset :[ - 2, 10 ],
                // use the built-in fadeIn/fadeOut effect
                effect : "fade",
                // custom opacity setting
                opacity : 0.7
            } ) ;
            </script>
            <style>
                .tooltip {
                    background-color : #000 ;
                    border : 1px solid #fff ;
                    padding : 10px 15px ;
                    width : 200px ;
                    display : none ;
                    color : #fff ;
                    text-align : left ;
                    font-size : 12px ;

                    /* outline radius for mozilla/firefox only */
                    -moz-box-shadow : 0 0 10px #000 ;
                    -webkit-box-shadow : 0 0 10px #000 ;
                }
            </style>
            <br><br>

            <legend>Financial disclosure</legend>
            <h4>Example:</h4>
            <p>
                The research presented in this paper was partially funded by the Ministry of Grants, United States of Utopia under the project no. 38492-KHW-3381/2011.
                The research presented in this paper was partially supported by the Quickly Growing Company under the Scholarship for Gifted Computer Scientists for 2011 year.
                The research presented here was partially funded by the statutory funds of the Great University, Big Country.

            </p>

            @textarea(
                transferForm("financial"),
                '_label -> "",
                'class ->"form-control",
                'required -> "required",
                'rows -> 5
            )

        </fieldset>
        <input id="consentForm-form-send" type="submit" class="btn btn-primary btn-lg" value="Submit">
        <p style="margin-left: 80px" class="percent-error-display">Percents of contribution must sum up to 100%.</p>
    }

}
