@()(implicit request: Request[AnyContent])

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.render(_: FieldElements, request))
}

@main("Copyright transfer") {

    @form(action = routes.CopyrightTransfer.consentWithIdInQueryString, 'id -> "submit-article-id") {
        <h2 align="center">Please enter the article ID</h2>
        <h4 align="center">Use the ID under which the article appears in the OJS system.</h4>
        <p align="center"><i>For the beta release, please choose any of 1 to 7.</i></p>
        <center> <input id="input-article-id" type="text" name="article-id" required> </center><br><br>
        <center> <button align="center" type="submit" class="btn btn-primary btn-lg">Proceed</button> </center>
    }

    <script type="text/javascript">
        $(function() {
            // validation of input - entered value must be numeric
            $("#submit-article-id" ).submit(function(){
                var invalid = isNaN($("#input-article-id" ).val())
                if (invalid) {
                    $("<br><p style='color:red'>Provide correct article id - required numeric value.</p>" ).insertAfter($("#submit-article-id" ))
                }
                return invalid == false
            })
        })
    </script>
}
