@(copyrightTransferRequest: models.copyright.CopyrightTransferRequest, copyrightForm: Form[models.copyright.Copyright])(implicit request: Request[AnyContent])

@import helper._

@main("Consent to publish") {

    <style>
    p   { text-indent:50px;  }
    </style>

    <h4>Paper</h4>
    <label>ID:</label>
    <p>@copyrightTransferRequest.copyrightData.ojsId</p>
    <label>Title:</label>
    <p>@copyrightTransferRequest.copyrightData.title</p><br>

    <h4>Corresponding author</h4>
    <label>Name:</label>
    <p>@copyrightTransferRequest.copyrightData.correspondingAuthor.name</p>
    <label>Surname:</label>
    <p>@copyrightTransferRequest.copyrightData.correspondingAuthor.affiliation</p>
    <label>Email:</label>
    <p>@copyrightTransferRequest.copyrightData.correspondingAuthor.email</p>
    <br>
    <h4>Authors</h4>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name, surname</th>
                <th>Affiliation</th>
                <th>Contribution to the paper</th>
                <th>Estimated % of the total contribution</th>
            </tr>
        </thead>
    @copyrightTransferRequest.copyrightData.contribution.map { contribution =>
        <tr>
            <td>@contribution.authorName</td>
            <td>@contribution.affiliation</td>
            <td>@contribution.contribution</td>
            <td>@contribution.percent</td>
        </tr>
    }

    </table>
    <br>
    <h4>Financial disclosure</h4>
    <p>@copyrightTransferRequest.copyrightData.financialDisclosure</p>

    <br>
    <label>Date filled:</label>
    <p>@Html(copyrightTransferRequest.dateFilled.toString("yyyy-MM-dd HH:mm:ss SSSZZ"))</p>
    <label>IP address:</label>
    <p>@Html(copyrightTransferRequest.ipAddress)</p>
    <br>

    @form(action = routes.CopyrightTransfer.confirm) {
        <input type="submit" value="Confirm" class="btn btn-primary"/>
    }

    <br>

    <input type="submit" value="Back" class="btn btn-primary" onClick="history.go(-1)"/>

}
